<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tradetips | forgot passward</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <div class="container-fluid">
            <img class="img-fluid" src="img/tradetiplogo.svg" alt="logo">
        </div>
    </header>
     <section class="popup-section vh-100 bg-grey">
         <div class="container">
            <div class="card card-padd shadow-sm rounded-card popupbox mb-3 mb-lg-4">
                <h2 class="form-heading mb-2">Forgot password?</h2>
                <p>Enter your details below to request an TradeTips account password reset.</p>
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <div class="form-group ml-0 mb-30">
                                <label class="" for="exampleInputEmail1">Email</label>
                                <input type="email" id="Email" class="form-control"  placeholder="">
                                <div class='successmsg' style="margin-top:10px"></div>
                            </div>
                            <!-- <a href="/emailauthonticate" class="btn btn-main d-block w-100 btn-blue">Submit</a> -->
                            <input class="btn btn-main d-block w-100 btn-blue" id="forgot" style="float: right;" value="Submit"></button>
                        </form>
                    </div>
                </div>
            </div>
         </div>
     </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script type="text/javascript">

    window.history.forward(); 
        // function noBack() { 
        //     window.history.forward(); 
        // } 
    
    window.addEventListener("load", function() 
       {
      var url_string = window.location.href; 
      var urls = new URL(url_string);
       //alert(urls);
    $('#forgot').on('click', function() { 
            var Email = $('#Email').val();
            if(Email!=""){
                    $.ajax({
                          type: 'POST',
                          url: 'https://apistest.tradetipsapp.com/api/appUser/getAvailabilityAppUserByEmail',
                          data:{
                            email : Email
                          },
                        success: function(data) {
                          var datak = JSON.stringify(data);
                          var Result = JSON.parse(datak);
                          //console.log(Result);
                          //alert(Result);
                          if(Result == true){
                             // alert("Sent");
                             $.ajax({
                                   type: 'POST',
                                   url: 'https://apistest.tradetipsapp.com/api/auth/forgotPassword',
                                   data:{
                                     useremail : Email
                                   },
                                success: function(data) {
                                  var datak = JSON.stringify(data);
                                  var Result = JSON.parse(datak); 
                                  //console.log(Result);
                                  //alert("Email Sent");
            //                       $(".successmsg").html('<span>Email Sent.</span>');
            // setTimeout(function(){$(".successmsg").empty()}, 3000);

            setTimeout(function(){

                window.location.href = "/emailauthonticate?email=" +Email;
            },1000)
                                  //window.location.href = "/forgetPassword";
                                  }
                                });
                              }
                          else{
                           //alert('This email is not registered !');
                           //window.location.href = "/forgetPassword";
                           $(".successmsg").html('<span>This email is not registered !</span>');
            setTimeout(function(){$(".successmsg").empty()}, 3000);
                          }
    
                       }
                     });
                  
               }  
            else{
              //alert('Please fill all the field !'); 
              $(".successmsg").html('<span>Please fill all the field !</span>');
            setTimeout(function(){$(".successmsg").empty()}, 3000);
            }
                });
    
    });
    
    
       
    </script>

</html>